<h1>{{title}}</h1>
<div class="auction">
  <h2>Auction Information</h2>
  <form id="auction-form">
    <input type="text" id="auction-url" placeholder="URL">
    <input type="text" id="auction-name" placeholder="Name">
    <textarea type="text" id="auction-desc" placeholder="Description" onkeyup="js.auction.adjustTextarea(this)"></textarea>
    <input type="text" id="auction-base-price" placeholder="Base Price">
    <input type="text" id="auction-min-price" placeholder="Min. Price">
    <input type="text" id="auction-max-price" placeholder="Max. Price">
    <input type="text" id="auction-max-offers" placeholder="Max. offers">
    <input type="text" id="auction-owner-address" placeholder="Owner Address">
    <label for="auction-show-info" id="show-info">
      <input type="radio" id="auction-show-info" name="public-info" value="show" checked> Show pricing information
    </label>
    <label for="auction-hide-info" id="hide-info">
      <input type="radio" id="auction-hide-info" name="public-info" value="hide"> Hide pricing information
    </label>
    <input type="button" id="auction-button" value="Start Auction" data-action="start" onclick="js.auction.executeForm()"/>
  </form>
</div>

<script src="/javascripts/auction-cli.js"></script>


