<h1>{{title}}</h1>
<div class="auction">
  <h2>Auction Information</h2>
  <form>
    <input type="text" id="auction-url" placeholder="URL">
    <input type="text" id="auction-name" placeholder="Name">
    <textarea type="text" id="auction-desc" placeholder="Description" onkeyup="adjust_textarea(this)"></textarea>
    <input type="text" id="auction-base-price" placeholder="Base Price">
    <input type="text" id="auction-min-price" placeholder="Min. Price">
    <input type="text" id="auction-max-price" placeholder="Max. Price">
    <input type="text" id="auction-max-offers" placeholder="Max. offers">
    <label for="auction-show-info" id="show-info">
      <input type="radio" id="auction-show-info" name="public-info" value="show" checked> Show pricing information
    </label>
    <label for="auction-hide-info" id="hide-info">
      <input type="radio" id="auction-hide-info" name="public-info" value="hide"> Hide pricing information
    </label>
    <input type="button" value="Start Auction" data-action="start" onclick="executeForm()"/>
  </form>
</div>

<script type="text/javascript">
//auto expand textarea
function adjust_textarea(h) {
  h.style.height = "20px";
  h.style.height = (h.scrollHeight)+"px";
}

function executeForm() {
  if (!_validateInputs()) {
    return;
  }

  var opts = {
    method: 'POST',
    header: {}
  };

  fetch('/auctions/start', opts).then(function (res) {
    console.log('res', res);
  }).catch(err => {
    console.log('err', err);
  });
}

function _validateInputs() {
  return true;
}
</script>

