<h1>{{title}}</h1>
<div class="auction">
  <h2>Bid Information</h2>
  <form id="bid-form">
    <input type="text" id="bid-amount" placeholder="Amount">
    <input type="text" id="bid-address" placeholder="Address">
    <input type="button" id="bid-button" value="Place Bid" onclick="js.bid.executeForm()"/>
  </form>
</div>

<script src="/javascripts/bid-cli.js"></script>


